.no-data {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.1);
}

.yes-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-weight: bold;
    z-index: 5;
    cursor: pointer;
}

p {
    margin: 0
}

.day {
    margin-bottom: 10px;
    font-size: 25px;
}

select {
    margin-bottom: 5px;
}

.selectedDiv {
    background-color: aqua;
}

.selected {
    background-color: green;
}